 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@300&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}



.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border-radius: 50% ;
    border: 1px solid rgb(0, 132, 255);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
    
}
.nav-list{
    
    width: 70%;
    display: flex;
    align-items: center;
    
    
    

}

.nav-list li{

    list-style: none;
    padding: 20px 30px;
    align-items: center;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    
    

}
.nav-list li a:hover{
    text-decoration: none;
    color: grey

}

.rightnav {
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background {
    background:rgb(196, 196, 216) url('bgimg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;

   
}

.firstsection{
    height: 100vh;
}

.firsthalf {

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.secondhalf {
    width: 60%;
    

}
.secondhalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 50% 50% 2% 2%;
    display: block;
    margin: auto;

}
.text-big {
    font-size: 41px;
  
}

.text-small{
    font-size: 18px;

}
.btn {
    padding: 5px 10px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 7px;
    background: none;
    color: white;
    cursor: pointer;

}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;

}

.section {
    
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    max-width: 80%;
    margin:auto;
    font-family: "Ubuntu", sans-serif;
    padding: 5px;

}



.paras {
    padding: 0px 65px;
}

.section-left {
   
    flex-direction: row-reverse;


}
.sectionsubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 23px;
    margin-top: 80px;
    
  

}

.text-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: white;
}
.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

.line{
    width: 33px;
    background-color: rgb(245, 242, 242);
    height: 4px;
    margin: 3px 3px;
}

.logo2{
    position: absolute;
    left: 5%;
    top: 15px;
    display: none;
    width: 33px;
}
.logo3{
    color: rgb(207, 204, 204);
    height: 4px;
    margin: 3px 3px;
    width: 33px;
}


/* form submission coantct details */
.contact-container6{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url(bgimg.jpg);
    background-size: cover;
    
    
}
.contact-left6{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}

.contact-left-title h2{
    font-weight: 600;
    color: rgb(18, 157, 238);
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:rgb(152, 152, 219) ;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs6{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 2px;
}

.contact-left6 textarea{
    height: 100px;
    padding-top: 15px;
    border-radius: 1px;
    
}

.contact-inputs6:focus{
    border: 2px solid black;
}
.contact-inputs6::placeholder{
    color: #7c7b7b;
}

.contact-left6 button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(270deg,#666 ,black);
    cursor: pointer;
     
}
.contact-left6 button img{
    height: 15px;
}

.contact-right6{
    color: #cecbcb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}
.contact-right6 a{
    text-decoration: none;
    color: rgb(235, 247, 235);
    font-size: 20px;
    
}

/* social media and more system */

.text-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer2{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px 0;
   color: white;
}
.text-footer2 a{
    color: #f8f8f8;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.socialmedia2 {
    margin-top: 80px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.socialmedia2 p{
    color: #b6afaf;
}

.btn56{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #575454;
    margin: 10px;
    border-radius: 15%;
    box-shadow: 0 5px 15px -5px black;
    overflow: hidden;


}
.btn56 i{
    line-height: 50px;
    font-size: 25px;
    transition: 0.2s linear;
    color: #f4f6f7;
}


.btn56:hover i {
    transform: scale(1.7);
    color: rgb(15, 14, 15);
    
}




@media (max-width: 1140px ){
    .nav-list{
     flex-direction: column;
     margin-top: 30px;
     gap: 0.5px;
    }
    .navbar{
       flex-direction: column;
       transition: all 0.10s ease-out;
       height: 350px;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;

    }
    .hnav-resp{
        height: 65px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .logo2{
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .logo{
        display: none;
    }
    .box-main{
        flex-direction: column;
        max-width: 100%;
        
    }

    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
        
    }
    .text-small{
        text-align: center;
        
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px 0px;
        
    }
    .firsthalf{
        display: flex;
        align-items: start;
        justify-content: right;
        text-align: center;
    }
    .rightnav{
        display: none;
    }
}
@media (max-width: 650px ){
    .contact-container6{
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
        
    }
    .contact-left6{
        gap: 10px;
        
    }
    .contact-left6 button{
        padding: 5px 20px;
        font-size: 15px;
        gap: 10px;
        
    }
    .contact-inputs6{
        width: 250px;
        height: 30px;
        padding-left: 20px;
        
        
    }
    .contact-right6{
        margin-top: 40px;
    }

    .btn56{
        width: 30px;
        height: 30px;
    }
    .btn56 i{
        line-height: 32px;
        font-size: 15px;  
        
    }
    .text-footer2{
        font-size: 14px;
    }
    .socialmedia2{
        font-size: 14px;
    }
    .text-big2{
        font-size: 35px;
        color: #131d25;
        text-align:left;
        margin-top: 5px;
    
    }
    .text-small2{
        font-size: 35px;
        color: #068bf8;
        text-align: left;
        margin-top: 5px;
    }
    .text-footer{
        font-size: 13px;
    }
    

}
   
